/**
 * @name Blue Vibe
 * @description a dark blue, customizable discord theme
 * @author SKANDALIST
 * @version 1.43
 * @invite uzw48hv6fr
 * @website https://github.com/SKANDALlST/BlueVibe
 * @source https://github.com/SKANDALlST/BlueVibe/blob/main/BlueVibe.theme.css
*/

:root {
    container-name: root;
    /*  spacing values */
    --custom-guild-list-padding: 10px;
    --panel-backdrop-filter: none;
    --border-hover: var(--border-subtle);
}

body {
    container-name: body;

    --font: '';

    /*  gap sizes */
    --gap: 6px; 
    --divider-thickness: 4px;
    --border-thickness: 1px;
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);

    --border-hover-transition: 0.2s ease;
}

/* ==
   PANEL SEPARATION & SPACING
   ===
*/

.container__89463 > .toolbar__89463,
.container__89463 > .contentContainer__89463,
.guilds__5e434, 
.sidebarList__5e434,
.panels__5e434,
.chat_f75fb0 > .subtitleContainer_f75fb0,
.chatContent_f75fb0,
.container_c8ffbb,
.content_f75fb0 > .membersWrap_c8ffbb,
.container__133bf > .container__9293f,
.container_f391e3 > .container__9293f,
.homeWrapper__0920e > .container__9293f,
.container__01ae2 > .container__9293f,
.container_fb64c9 > .container__9293f,
.peopleColumn__133bf,
.nowPlayingColumn__133bf,
.mainPageScroller_ca1a02,
.headerBar__1a9ce,
.scroller__23746,
.container_f391e3 > .content_f75fb0,
.shop__6db1d,
.content_f75fb0 > aside > .outer_c0bea0,
.searchResultsWrap_a98f3b,
.container_f369db,
.chat_fb64c9,
.container_a592e1,
.callContainer_cb9592,
.wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592,
.callContainer__722ff,
.chat_f75fb0 > .header_c791b2,
.chat_f75fb0 > .scrollerBase_d125d2,
.chat_f75fb0 > .header__0b563,
.chat_f75fb0 > .container__0b563 {
    /* Visuals */
    background-color: var(--background-base-lower);
    border-radius: var(--radius-lg);
    border: var(--border-thickness) solid var(--border-subtle);
    backdrop-filter: var(--panel-backdrop-filter);
    box-sizing: border-box;
    transition: border-color var(--border-hover-transition);

    &:hover {
        border-color: var(--border-hover);
    }
}

.panels__5e434 {
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar__5e434 {
    margin: 0 var(--gap) var(--gap) var(--gap);
}

.guilds__5e434 {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
    margin-right: var(--gap);
}
.guilds__5e434 + div:not(.sidebarList__5e434) {
    width: 100% !important;
}
.scroller_ef3116 {
    padding-top: var(--custom-guild-list-padding) !important;
    padding-bottom: var(--custom-guild-list-padding);
}
.folderGroup__48112 {
    width: 100%;
}
.listItem__650eb {
    width: 100%;
}

.sidebarList__5e434 {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--gap));
}
.container__2637a {
    padding-bottom: 0;
}
.clickable_f37cb1,
.container__2637a,
.header_f37cb1 {
    background: none;
}
.scroller__629e4 {
    margin-bottom: 0;
}

.bannerImage_f37cb1,
.bannerImg_f37cb1 {
    width: 100%;
}
.bannerVisible_f37cb1 .headerEllipseBackdrop_f37cb1 {
    display: none;
}
.headerGlass_f37cb1 {
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.sidebar__5e434:after {
    display: none;
}

.wrapper_ef3116 {
    mask: none;
}

.chat_f75fb0 {
    border: none !important;
    background: none;
}
.chatContent_f75fb0 {
    overflow: hidden;
}
.container__133bf,
.page__5e434 {
    padding-bottom: var(--gap);
    padding-right: var(--gap);
    border: none !important;
    background: none;
}
.page__5e434 > .chat_f75fb0,
.page__5e434 > .container__133bf {
    padding: 0;
}

.container__9293f {
    margin-bottom: var(--gap);
}

.subtitleContainer_f75fb0 {
    margin-bottom: var(--gap);
}
.title_f75fb0 {
    border: none;
    background: none !important;
    margin-bottom: 0;
}

.page__5e434 > div > .chat_f75fb0 > .content_f75fb0 {
    border-left: none;
}
.tabBody__133bf {
    border: none !important;
}

.listeningAlong_e0cf27 {
    border-top: none !important;
}

.container_c8ffbb {
    margin-left: var(--gap);
    overflow: hidden;
    height: auto;
    min-width: fit-content;
}
.content_f75fb0 > .membersWrap_c8ffbb {
    margin-left: var(--gap);
    overflow: hidden;
    height: auto;
    min-width: fit-content;
}
.members_c8ffbb,
.member_c8ffbb {
    background: none;
}

.resizeHandle__01ae2 {
    background: transparent;
}

.privateChannels_e6b769,
.scroller__99e7c {
    background: none;
}
.scroller__99e7c {
    margin-bottom: 0;
}

.tabBody__133bf {
    background: none;
}

.nowPlayingColumn__133bf {
    margin-left: var(--gap);
}
.container__7d20c {
    background: none;
}
.scroller__7d20c {
    border: none;
}

.homeWrapper__0920e {
    border: none;
    background: none;
}
.applicationStore_f07d62 {
    background: none;
}

.shop__6db1d {
    overflow: hidden;
    height: auto;
}
.shop__08415 {
    margin-top: calc(var(--custom-channel-header-height) * -1 - 16px);
}

.container__955a3 {
    border: none;
}

.content_f75fb0 > aside > .outer_c0bea0 {
    margin-left: var(--gap);
    overflow: hidden;
    background-position: center calc(-1 * var(--border-thickness));
    background-size: 100% calc(100% + 2 * var(--border-thickness));
}

.searchResultsWrap_a98f3b {
    margin-left: var(--gap);
}

.notice__6e2b9 {
    margin: 0 var(--gap) var(--gap) 0;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    height: 40px;
}

.container__01ae2 {
    border: none;
    background: none;
}
.chat_a44415::before {
    display: none;
}
.channelChatWrapper_cb9592 {
    background: none;
}

.page__5e434 > div > .chatLayerWrapper__01ae2 {
    margin: 0 var(--gap) var(--gap) 0;
    height: calc(100% - var(--gap));
}
.container__01ae2 {
    padding-left: calc((var(--gap) - var(--chat-resize-handle-width)));
}

.container_fb64c9 {
    background: none;
}
.chat_fb64c9::before {
    display: none;
}

.container_a592e1 {
    overflow: hidden;
}
.backdrop__8a7fc {
    background-color: var(--background-base-lower);
}

.wrapper_cb9592 {
    background: none;
    margin-bottom: var(--gap);
}
.wrapper_cb9592.fullScreen_cb9592 {
    margin-top: var(--gap);
    margin-left: var(--gap);
    width: calc(100% - var(--gap));
    height: calc(100% - var(--gap));
}

/* remove excess background from settings  */
.standardSidebarView__23e6b,
.contentRegion__23e6b,
.sidebarRegionScroller__23e6b,
.contentRegionScroller__23e6b {
    background: none;
}
.standardSidebarView__23e6b {
    backdrop-filter: var(--panel-backdrop-filter);
}

/* remove excess backgrounds */
.wrapper_cdf8a9,
.wrapper_cdf8a9 > .wrapper_fc8177 {
    background: none;
}
.page__5e434 > .container__89463,
.page__5e434 > .chat_f75fb0 {
    background: none !important;
}

.newMessagesBar__0f481 {
    top: 12px;
    left: 12px;
    right: 12px;
    border-radius: var(--radius-sm);
    padding: 0 8px;
}

.bottom__7aaec,
.unreadBottom__629e4 {
    bottom: 0;
}

.unreadMentionsIndicatorBottom_ef3116,
.unreadMentionsIndicatorTop_ef3116 {
    width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
    padding: calc(var(--custom-guild-list-padding) / 2);
}

#vc-spotify-player {
    background: none;
}

/* general chat bar improvements */
.channelTextArea_f75fb0 {
    border-radius: var(--radius-md);
}
.themedBackground__74017 {
    background: none;
}
.slateTextArea_ec4baf {
    margin-left: 2px;
}

/* improve unread divider */
.divider__908e2 {
    border-width: var(--divider-thickness);
    border-radius: var(--divider-thickness);
}
.endCap__908e2 {
    margin-top: calc(var(--divider-thickness) / -2);
}
.divider__908e2 .content__908e2 {
    margin-top: calc(var(--divider-thickness) - var(--divider-thickness) * 2);
}

/* improve highlight message left edge */
.message__5126c.mentioned__5126c::before,
.replying__5126c::before,
.ephemeral__5126c::before {
    width: var(--divider-thickness);
    border-radius: var(--divider-thickness);
    height: calc(100% - 2 * var(--radius-sm));
    top: var(--radius-sm);
    left: calc(var(--divider-thickness) / -2 + 1px);
    left: calc(var(--radius-sm) / 2);
}

.message__5126c {
    border-radius: var(--radius-md);
    margin-left: 4px;
}

/* improve server selected marker */
.pill_e5445c.wrapper__58105 {
    width: calc((var(--custom-guild-list-padding) - 4px) / 2 + 4px);
}
.item__58105 {
    width: 4px;
    border-radius: 4px;
    margin-left: calc((var(--custom-guild-list-padding) - 4px) / 2);
}

/* improve embeds */
.embedFull__623de {
    border: 4px solid var(--border-normal);
    border-top-color: var(--border-subtle) !important;
    border-top-width: 1px;
    border-bottom-color: var(--border-subtle) !important;
    border-bottom-width: 1px;
    border-right-color: var(--border-subtle) !important;
    border-right-width: 1px;
}

/* improve borders */
.reaction__23977,
.reactionBtn__23977.forceShow__23977 {
    border-width: 2px;
}

/* roundness */
.embedFull__623de,
.hljs,
.imageWrapper_af017a,
.container__9271d {
    border-radius: var(--radius-md);
}

.outer_c0bea0, 
.contentWrapper__08434 {
    border-radius: var(--radius-lg);
}
.inner_c0bea0 {
    border-radius: calc(var(--radius-lg) - 4px);
}

.outer_c0bea0 {
    border: 1px solid var(--border-subtle);
    background-position: center calc(-1 * var(--border-thickness));
    background-size: 100% calc(100% + 2 * var(--border-thickness));
}
.root__24502 {
    background: none;
}

.container__37e49 {
    margin-inline-start: 0;
    -webkit-margin-start: 0;
}
.container__37e49 .container__4bbc6 {
    border-radius: var(--radius-lg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* remove unnecessary backgrounds */
.app__160d8,
#app-mount,
body {
    background: transparent !important;
}

body {
    --font-primary: var(--font), 'gg sans';
    --font-display: var(--font), 'gg sans';
    --font-code: var(--code-font), 'gg mono';
}

[class*='scroll'] {
    will-change: scroll-position;
}
.burstGlow__23977 {
    display: none;
}

/* background-image.css */
body {
    --background-image-url: url('');
}

@property --background-image {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--background-image: on) {
    #app-mount .bg__960e4 {
        background: var(--background-image-url);
        background-size: cover;
        background-position: center;
    }
}

/* chatbar.css */
body {
    --chatbar-height: 47px;

    --custom-channel-textarea-text-area-height: var(--chatbar-height);
}

@property --custom-chatbar {
    syntax: 'off | separated';
    inherits: false;
    initial-value: aligned;
}

.attachWrapper__0923f {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon__4d3a9 {
    padding-top: 0;
    padding-bottom: 0;
}
.attachButton__74017 {
    display: flex;
    align-items: center;
}

@container body style(--custom-chatbar: separated) {
    .chatContent_f75fb0 {
        background: none;
        border-radius: 0;
        border: none;
        backdrop-filter: none;
    }
    .messagesWrapper__36d07 {
        background-color: var(--background-base-lower);
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--border-subtle);
        backdrop-filter: var(--panel-backdrop-filter);
        transition: border-color var(--border-hover-transition);
        overflow: hidden;

        &:hover {
            border-color: var(--border-hover);
        }
    }
    .scrollerSpacer__36d07 {
        height: calc(26px + var(--space-xs));
    }
    .scroller__36d07::-webkit-scrollbar-track {
        margin-bottom: calc(26px);
    }
    .chatContent_f75fb0:has(.typing_b88801) .messagesWrapper__36d07::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--background-base-lower);
        height: 26px;
        border-radius: 0 0 var(--radius-lg) var(--radius-lg);
        z-index: 2;
    }
    .form_f75fb0 {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin-top: 0;
    }
    .typing_b88801 {
        position: absolute;
        order: -1;
        top: calc(-26px + var(--border-thickness) * -1);
        left: calc(var(--border-thickness));
        border-radius: 0 0 0 var(--radius-lg);
        padding: 0 0 0 var(--space-sm);
        height: 26px;
    }
    .channelBottomBarArea_f75fb0 {
        margin-top: var(--gap);
    }
    .channelTextArea_f75fb0 {
        margin: 0;
        background-color: var(--background-base-lower);
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--border-subtle);
        backdrop-filter: var(--panel-backdrop-filter);
        transition: border-color var(--border-hover-transition);

        &:hover {
            border-color: var(--border-hover);
        }
    }
    .stackedBars__74017 {
        background: none !important;
    }
    .wrapper__44df5 {
        margin: var(--gap) 0 0 0;
        height: var(--chatbar-height);
        padding: 0;
        border-radius: var(--radius-lg);
        border: var(--border-thickness) solid var(--border-subtle);
        backdrop-filter: var(--panel-backdrop-filter);
        transition: border-color var(--border-hover-transition);

        &:hover {
            border-color: var(--border-hover);
        }
    }
}

/* colors.css */
@property --colors {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

:root {
    /* text colors */
    --text-0: hsl(203, 14%, 90%);
    --text-1: hsl(203, 14%, 90%);
    --text-2: hsl(203, 14%, 90%);
    --text-3: hsl(203, 14%, 85%);
    --text-4: hsl(203, 10%, 70%);
    --text-5: hsl(203, 10%, 60%);

    /* background and dark colors */
    --custom-code-bg: hsl(214, 23%, 15.5%);
    --bg-1: hsl(213, 22%, 22%);
    --bg-2: hsl(213, 22%, 19%);
    --bg-3: hsl(213, 22%, 16%);
    --bg-4: hsl(213, 22%, 13%);
    --hover: hsla(210, 20%, 70%, 0.1);
    --active: hsla(210, 20%, 70%, 0.2);
    --active-2: hsla(210, 20%, 70%, 0.3);
	--active-2: hsla(210, 20%, 70%, 0.3);
	--active-3: hsla(210, 20%, 35%, 0.3);
	--active-11: hsla(0, 0%, 0%, 0.0);
    --message-hover: hsla(213, 15%, 30%, 0.20);

    /* accent colors */
    --accent-1: var(--blue-1);
    --accent-2: var(--blue-3);
    --accent-3: var(--blue-3);
    --accent-4: var(--blue-4);
    --accent-5: var(--blue-5);
    --accent-new: var(--blue-2);

    --mention: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 90%) 40%, transparent); 
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 95%) 40%, transparent); 
    --reply: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 90%) 40%, transparent); 
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 95%) 40%, transparent); 


    /* status indicator colors */
    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--purple-2);
    --offline: var(--text-4);

    /* base colors */
    --red-1: oklch(76% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(64% 0.12 0);
    --red-4: oklch(58% 0.12 0);
    --red-5: oklch(52% 0.12 0);

    --green-1: oklch(76% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(64% 0.11 170);
    --green-4: oklch(58% 0.11 170);
    --green-5: oklch(52% 0.11 160);

    --blue-1: oklch(0.8 0.098 249.84);
    --blue-2: oklch(0.85 0.098 249.84);
    --blue-3: oklch(0.5 0.098 249.84);
    --blue-4: oklch(0.6 0.098 249.84);
    --blue-5: oklch(52% 0.1 215);
    --blue-6: oklch(0.49 0.0418 233.77);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(74% 0.11 90);
    --yellow-3: oklch(52% 0.1 215);
    --yellow-4: oklch(62% 0.11 90);
    --yellow-5: oklch(56% 0.11 90);

    --purple-1: oklch(76% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(64% 0.11 310);
    --purple-4: oklch(58% 0.11 310);
    --purple-5: oklch(52% 0.11 310);
}

@container root style(--colors: on) {
    body,
    .theme-dark,
    .theme-light:not(.custom-profile-theme) {
        --activity-card-background: red;
        --alert-bg: red;
        --autocomplete-bg: var(--bg-3);

        --background-accent: var(--bg-2);
        --background-floating: var(--bg-3);
        --background-nested-floating: var(--bg-4);
        --background-mentioned: var(--mention);
        --background-mentioned-hover: var(--mention-hover);
        --background-message-automod: red;
        --background-message-automod-hover: red;
        --background-message-highlight: var(--reply);
        --background-message-highlight-hover: var(--reply-hover);
        --background-message-hover: var(--message-hover);

        --card-background-default: var(--bg-3);

        --background-primary: var(--bg-4);
        --background-secondary: var(--bg-3);
        --background-secondary-alt: var(--bg-3);
        --background-tertiary: var(--bg-4);

        --bg-base-primary: var(--bg-4);
        --bg-base-secondary: var(--bg-4);
        --bg-base-tertiary: var(--bg-3);
        --background-mod-subtle: var(--bg-);    /* gif */
        --background-mod-normal: var(--bg-3);
        --background-mod-strong: var(--bg-3);
        --background-base-low: var(--bg-4);
        --background-base-lower: var(--bg-4);
        --background-base-lowest: var(--bg-3);
        --background-surface-high: var(--bg-3);
        --background-surface-higher: var(--bg-3);
        --background-surface-highest: var(--bg-3);
        --bg-surface-overlay: var(--bg-4);
        --bg-surface-raised: var(--bg-3);
        --chat-background-default: var(--bg-3);
        --input-background: var(--bg-3);
		--input-background-default: var(--bg-3);
        --modal-background: var(--bg-4);
        --modal-footer-background: var(--bg-4);

        --message-highlight-background-default: var(--reply);
        --message-highlight-background-hover: var(--reply-hover);

        --background-modifier-hover: var(--hover);
        --background-modifier-selected: var(--active);

        --bg-mod-faint: var(--hover);
        --bg-mod-subtle: var(--bg-2);
        --bg-mod-strong: var(--bg-2);
        --bg-brand: var(--accent-2);

        --border-normal: var(--border);
        --border-strong: var(--border);

        --button-danger-background: var(--red-3);
        --button-danger-background-active: var(--red-5);
        --button-danger-background-hover: var(--red-4);
        --button-danger-background-disabled: var(--red-5);
        --button-danger-border: var(--button-border);

        --button-filled-brand-text: var(--text-0);
        --button-filled-brand-background: var(--accent-3);
        --button-filled-brand-background-active: var(--accent-5);
        --button-filled-brand-background-hover: var(--accent-4);
        --button-filled-brand-border: var(--button-border);

        --button-filled-brand-inverted-background: var(--text-1);
        --button-filled-brand-inverted-background-active: var(--text-3);
        --button-filled-brand-inverted-background-hover: var(--text-2);
        --button-filled-brand-inverted-text: var(--bg-4);
        --button-filled-white-background: var(--text-1);
        --button-filled-white-background-active: var(--text-3);
        --button-filled-white-background-hover: var(--text-2);
        --button-filled-white-text: var(--bg-4);

        --button-outline-danger-background: var(--bg-2);
        --button-outline-danger-background-active: var(--text-5);
        --button-outline-danger-background-hover: var(--bg-1);
        --button-outline-danger-border: var(--border-light);
        --button-outline-danger-border-active: var(--border-light);
        --button-outline-danger-border-hover: var(--border-light);
        --button-outline-danger-text: var(--red-1);
        --button-outline-danger-text-active: var(--red-1);
        --button-outline-danger-text-hover: var(--red-1);

        --button-outline-primary-background: red;
        --button-outline-primary-background-active: var(--active);
        --button-outline-primary-background-hover: var(--hover);
        --button-outline-primary-border: var(--text-5);
        --button-outline-primary-border-active: var(--text-5);
        --button-outline-primary-border-hover: var(--text-5);
        --button-outline-primary-text: var(--text-3);
        --button-outline-primary-text-active: var(--text-3);
        --button-outline-primary-text-hover: var(--text-3);

        --button-outline-positive-background: red;
        --button-outline-positive-background-active: var(--green-4);
        --button-outline-positive-background-hover: var(--green-3);
        --button-outline-positive-border: var(--green-2);
        --button-outline-positive-border-active: var(--green-4);
        --button-outline-positive-border-hover: var(--green-3);
        --button-outline-positive-text: var(--text-3);
        --button-outline-positive-text-active: var(--text-0);
        --button-outline-positive-text-hover: var(--text-0);

        --button-positive-background: var(--green-2);
        --button-positive-background-active: var(--green-4);
        --button-positive-background-hover: var(--green-3);
        --button-positive-background-disabled: var(--green-4);
        --button-positive-border: var(--button-border);

        --button-secondary-background: var(--bg-2);
        --button-secondary-background-active: var(--text-5);
        --button-secondary-background-hover: var(--bg-1);
        --button-secondary-background-disabled: var(--bg-3);
        --button-secondary-text: var(--text-3);

        --button-transparent-background: var(--hover);
        --button-transparent-background-active: var(--active-2);
        --button-transparent-background-hover: var(--active);
        --button-transparent-text: var(--text-3);

        --redesign-button-secondary-text: var(--text-3);

        --polls-voted-fill: color-mix(in hsl, var(--accent-2), transparent 90%);
        --polls-victor-fill: color-mix(in hsl, var(--green-2), transparent 90%);

        --card-primary-bg: var(--bg-3);
        --card-secondary-bg: var(--bg-2);
        --channel-icon: var(--text-4);
        --channels-default: var(--text-4);

        --embed-title: var(--text-2);

        --header-primary: var(--text-2);
        --header-secondary: var(--text-4);
        --header-muted: var(--text-4);

        --icon-muted: var(--text-5);
        --icon-primary: var(--text-3);
        --icon-secondary: var(--text-4);
        --icon-tertiary: var(--text-4);

        --info-danger-background: red;
        --info-danger-text: red;
        --info-help-background: color-mix(in hsl, var(--blue-2), transparent 80%);
        --info-help-foreground: var(--blue-1);
        --info-help-text: var(--blue-1);
        --info-positive-background: color-mix(in hsl, var(--yellow-1), transparent 80%);
        --info-positive-text: var(--green-1);
        --info-warning-background: color-mix(in hsl, var(--yellow-2), transparent 80%);
        --info-warning-text: var(--yellow-1);

        --text-brand: var(--accent-1);
        --text-danger: var(--red-1);
        --text-link: var(--accent-1);
        --text-link-low-saturation: red;
        --text-low-contrast: var(--text-4);
        --text-message-preview-low-sat: red;
        --text-muted: var(--text-5);
        --text-muted-on-default: var(--text-4);
        --text-normal: var(--text-3);
        --text-positive: var(--green-1);
        --text-primary: var(--text-3);
        --text-secondary: var(--text-4);
        --text-warning: var(--yellow-1);
        --text-default: var(--text-3);
        --text-feedback-critical: var(--red-1);
        --text-feedback-positive: var(--green-1);
        --text-feedback-info: red;
        --text-feedback-warning: red;
        --text-tertiary: var(--text-4);

        --user-profile-overlay-background: var(--bg-4);
        --user-profile-overlay-background-hover: var(--bg-4);

        --status-danger: var(--red-2);
        --status-danger-background: var(--red-3);
        --status-danger-text: var(--white);
        --status-dnd: var(--dnd);
        --status-idle: var(--idle);
        --status-offline: var(--offline);
        --status-online: var(--online);
        --status-positive: var(--green-2);
        --status-positive-background: var(--green-2);
        --status-positive-text: var(--white);
        --status-speaking: var(--green-2);
        --status-warning: var(--yellow-2);
        --status-warning-background: red;
        --status-warning-text: var(--black);

        --background-feedback-critical: color-mix(in hsl, var(--red-2), transparent 80%);
        --background-feedback-info: color-mix(in hsl, var(--blue-2), transparent 80%);
        --background-feedback-positive: color-mix(in hsl, var(--green-2), transparent 80%);
        --background-feedback-warning: color-mix(in hsl, var(--yellow-2), transparent 80%);

        --interactive-normal: var(--text-4);
        --interactive-hover: var(--text-3);
        --interactive-active: var(--text-3);
        --interactive-muted: var(--text-5);

        --mention-foreground: var(--accent-1);
        --mention-background: color-mix(in hsl, var(--accent-2), transparent 90%);

        --channel-text-area-placeholder: var(--text-5);

        --message-reacted-text: var(--text-2);
        --message-reacted-background: color-mix(in hsl, var(--accent-2), transparent 80%);

        --custom-channel-members-bg: var(--bg-4);

        --redesign-input-control-selected: var(--accent-2);

        --scrollbar-auto-thumb: var(--bg-3);
        --scrollbar-auto-track: transparent;
        --scrollbar-thin-thumb: var(--bg-3);
        --scrollbar-thin-track: transparent;

        --message-mentioned-background-default: var( --reply);
        --message-mentioned-background-hover: var(--mention-hover);
		
		--message-background-hover: var(--message-hover);

        /* friends */
      
		--interactive-background-active: var(--active-3);
        --interactive-background-hover: var(--bg-3);
        --interactive-background-selected: var(--active-3); 

	
        --control-secondary-background-default: var(--bg-3);
        --control-secondary-background-hover: var(--bg-1);

		
        --white: var(--text-0);
        --white-500: var(--text-0);
        --redesign-button-overlay-alpha-text: var(--text-2);
		--redesign-button-secondary-background: var(--blue-3);
		--redesign-button-secondary-pressed-background: var(--bg-1);

        --brand-360: var(--accent-2);
        --brand-500: var(--accent-2);
        --blurple-50: var(--accent-2);

        --red-400: var(--red-2);
        --red-500: var(--red-3);

        --green-360: var(--green-2);
        --primary-400: var(--text-4);

        --custom-code-bg: hsl(214, 23%, 15.5%);
    }

    .text_b88801 > strong {
        color: var(--text-3);
    }

    .mentioned__5126c:before {
        background-color: var(--accent-2) !important;
    }

    #app-mount .message__5126c.replying__5126c:hover /* override fix for message reply hover */ {
        background: var(--reply-hover);
    }

    .replying__5126c:before {
        background-color: var(--text-2) !important;
    }

    #app-mount .replying__5126c:hover {
        background: var(--reply-hover);
    }

    .container__87bf1 {
        background-color: var(--bg-1) !important;
        transition: background-color 0.2s ease;
    }
    .container__87bf1.checked__87bf1 {
        background-color: var(--accent-2) !important;
    }
    .container__87bf1 .slider__87bf1 > svg > path {
        fill: var(--bg-1) !important;
        transition: fill 0.2s ease;
    }
    .container__87bf1.checked__87bf1 .slider__87bf1 > svg > path {
        fill: var(--accent-2) !important;
    }
    .container__87bf1 rect[fill='white'] {
        fill: var(--text-3) !important;
        transition: fill 0.2s ease;
    }
    .container__87bf1.checked__87bf1 rect[fill='white'] {
        fill: var(--text-0) !important;
    }

    .dropdownButtonBannerVisible__2637a {
        color: var(--text-1);
    }
    .headerText_e4cb9a.base_eb1a4c,
    .participantName__2cdb8 {
        color: var(--text-1) !important;
    }
    .playPausePopIcon_cf09d8 > path {
        fill: var(--text-1);
    }
    .headerTitle_e4cb9a:hover {
        border-color: var(--text-1) !important;
    }

    .flash__03436[data-flash='true'] /* reply message flash */ {
        background: var(--reply);
    }

    .toolbar__9293f {
        --status-danger: var(--red-1);
    }

    ::selection,
    .highlight {
        background: var(--blue-6);
        color: var(--text-0);
    }
}

    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8::before {
        content: '';
        display: block;
        position: absolute;
        width: 65%;
        height: 65%;
        background: var(--dms-icon-color-before);
        mask-image: var(--dms-icon-svg-url);
        mask-size: var(--dms-icon-svg-size);
        mask-position: center;
        mask-repeat: no-repeat;
        transition: background-color 0.15s ease-out;
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home']:hover > .childWrapper__6e9f8::before {
        transform: rotate(0deg) scale(1);
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home']:hover > .childWrapper__6e9f8::before,
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'].selected__6e9f8 > .childWrapper__6e9f8::before {
        background: var(--dms-icon-color-after);
        transform: rotate(-360deg) scale(0.8);
    }

    @container body style(--animations: on) {
        .wrapper__6e9f8[data-list-item-id='guildsnav___home'] .childWrapper__6e9f8::before {
            transition: background-color 0.15s ease-out, transform var(--dms-icon-svg-transition);
        }
    }
}

@container body style(--custom-dms-icon: hide) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 > svg {
        display: none;
    }
}

@property --custom-dms-background {
    syntax: 'off | image | color';
    inherits: false;
    initial-value: off;
}

@container body style(--custom-dms-background: image) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 {
        background-image: var(--dms-background-image-url);
        background-color: transparent !important;
        background-size: var(--dms-background-image-size);
        background-position: center;
        background-repeat: no-repeat;
    }
}

@container body style(--custom-dms-background: color) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 {
        background: var(--dms-background-color);
    }
}

/* top-bar.css */
body {
    --top-bar-height: 32px;
    --custom-app-top-bar-height: var(--top-bar-height);
}

@property --top-bar-button-position {
    syntax: 'off | hide | serverlist | titlebar';
    inherits: false;
    initial-value: titlebar;
}
